body {
    background-color: #e8eff0;
}

.logo {
    font-family: "Yellowtail";
    font-size: 5rem;
    color: #4b4b4b;
}

.nav .nav-link {
    color: #4b4b4b;
    font-weight: bold;
}
.nav .nav-link:not(:last-child) {
    background-image: url(./images/menu-line.png);
    background-repeat: no-repeat;
    background-position: right;
}

.subscribe-box {
    background-color: white;
    height: 80%;
    width: 100%;
    margin-top: 2rem;
    background-image: url(./images/top-stripe.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.subscribe-box .stemp {
    position: absolute;
    right: -10%;
    top: -40%;
}

.subscribe-box p {
    padding-top: 1.2rem;
    padding-left: 2rem;
    font-size: 100%;
    color: #454545;
    font-weight: 500;
}

.form-inline {
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.form-inline > .form-control {
    height: 100%;
    width: 60%;
    font-size: 100%;
}

.form-inline > .btn-subscribe {
    margin:auto;
    height: 2.3rem;
    width: 7rem;
    background-image: linear-gradient(#bbc9d4, #91a7b8);

    color: #525e6a;
    font-size: 0.8rem;
    font-weight: bold;
}

.article {
    background-color: white;
}

.main-article h2 {
    margin-bottom: 30px;
}

.main-article img {
    width: 100%;
    padding: 5px;
    border: 2px solid #e5e5e5;
    margin-bottom: 30px;
}

.main-article p {
    color: #8c8b8c;
    font-size: 16px;
    line-height: 34px;
}

.pattern {
    background-image: url(./images/pattern.png);
    background-repeat: no-repeat;
    min-height: 367px;
    width: 273px;
}

.pattern--title {
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 110%;
    font-weight: bold;
    color: #a7a7a7;
}

.darker {
    color: #454545;
}

.percent {
    font-size: 300%;
    font-weight: bold;
    color: #454545;
}

.pattern .col-6 {
    color: #a7a7a7;
    font-weight: bold;
    margin-bottom: 5px;
}

.pattern .value {
    color: #454545;
    margin-bottom: 30px;
}

.pattern img {
    margin-bottom: 100px;
}

.pattern .button {
    height: 75px;
    font-size: 180%;
    padding: 11px;
    color: #5d7730;
    font-weight: bold;
    background-image: url(./images/button.png);

    background-repeat: no-repeat;
}
